# -*- mode: conf; -*-
[flake8]
exclude =
    venv
ignore =
    # expected 2 blank lines...
    # ...between functions and classes
    E302
    # ...after functions and classes
    E305
    # line too long
    E501
    # "'name' may be undefined, or defined from star imports"
    # (spoiler: it’s star imports)
    F405
    # line break after binary operator
    W504
