babel
decorator
flask >= 2.2.0
gunicorn
jinja2 >= 3.0.0
MarkupSafe
mwapi >= 0.6.0
mwoauth
pymysql @ git+https://github.com/PyMySQL/PyMySQL@main
PyYAML
requests
requests_oauthlib
toolforge >= 6.1
toolforge_i18n[Flask] >= 0.1.0
typing-extensions >= 4.1.0
werkzeug >= 2.0.0
