<!DOCTYPE html>
<html {{ push_html_lang( g.interface_language_code ) }} data-interface-language-code="{{ g.interface_language_code }}" data-uselang="{{ 'qqx' if g.qqx else g.interface_language_code }}">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <title {% block title_tag_attributes %}{% endblock title_tag_attributes %}>{% block title %}{{ message( 'tool-name' ) | striptags }}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='tool.css') }}">
    <link rel="index" href="{{ url_for('index') }}">
    {% endblock head %}
  </head>
  <body>
    <a href="#main" class="visually-hidden-focusable">{{ message( 'skip-to-main-content' ) }}</a>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container-fluid">
        <a href="{{ url_for('index') }}" class="navbar-brand">{{ message( 'tool-name' ) }}</a>
        <button hidden class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-menu" aria-controls="collapsible-menu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="collapsible-menu" class="nojs">
          <ul class="navbar-nav me-auto">
            <li class="nav-item"><a href="https://www.wikidata.org/wiki/Wikidata:Wikidata_Lexeme_Forms" class="nav-link">{{ message( 'documentation' ) }}</a></li>
            <li class="nav-item"><a href="//tools.wmflabs.org/" class="nav-link">{{ message( 'toolforge' ) }}</a></li>
            <li class="nav-item"><a href="https://gitlab.wikimedia.org/toolforge-repos/lexeme-forms" class="nav-link">{{ message( 'source-code' ) }}</a></li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item"><a href="{{ url_for( 'settings' ) }}" class="nav-link">{{ message( 'settings-link' ) }}</a></li>
            <li class="nav-item navbar-text">{{ authentication_area() }}</li>
          </ul>
        </div>
      </div>
    </nav>
    <main id="main" {% block main_tag_attributes %}class="container my-3"{% endblock main_tag_attributes %}>
      {% block main %}
      {% endblock main %}
    </main>
    <script defer src="{{ url_for('static', filename='menu.js') }}"></script>
  </body>
</html{{ pop_html_lang( g.interface_language_code ) }}>
