{% extends "base.html" %}
{% block head %}
{{ super() }}
<script defer src="{{ url_for('static', filename='preventDoubleSubmit.js') }}"></script>
{% endblock %}
{% block main_tag_attributes %}{{ super() }} lang="{{ g.interface_language_code | lang_int2html }}" dir="{{ g.interface_language_code | text_direction }}"{% endblock main_tag_attributes %}
{% block main %}
  <h1>{{ template.label }}</h1>
  <h2>{{ message('bulk_heading') }}</h2>
  <p>
    <a href="https://www.wikidata.org/wiki/Wikidata:Wikidata_Lexeme_Forms#Bulk_mode">{{ message('bulk_format_help') }}</a>
  </p>
  {% if csrf_error %}
  <div class="alert alert-warning">
    {{ message( 'csrf_warning' ) }}
  </div>
  {% endif %}
  {% if parse_error %}
  <div class="alert alert-warning">
    {{ parse_error }}
  </div>
  {% endif %}
  <form method="post" autocapitalize="off">
    <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
    <input name="_bulk_mode" type="hidden" value="">
    <div class="form-group">
      <textarea name="lexemes" class="form-control" rows="10" placeholder="{{ placeholder }}" required autofocus spellcheck="true">{% if value %}{{ value }}{% endif %}</textarea>
    </div>
    <!-- TODO generated_via should fit somewhere in here -->
    <button class="btn btn-danger">{{ message( 'create' ) }}</button>
  </form>
{% endblock main %}
