{% if duplicates %}
<div {% if actionable %} id="duplicates-warning" {% endif %} class="alert alert-warning">
  {{ message_with_kwargs( 'duplicates_warning', lexemes=duplicates | length ) }}
  <ul>
    {% for duplicate in duplicates %}
    <li><a href="{{ duplicate.uri }}">{{ duplicate.label }} ({{ duplicate.id }})</a>, {{ duplicate.description | augment_description(duplicate.forms_count, duplicate.senses_count) }}</li>
    {% endfor %}
  </ul>
  {% if actionable %}
  {{ message_with_kwargs( 'duplicates_instructions', lexemes=duplicates | length ) }}
  {% endif %}
</div>
{% endif %}
