{% if duplicates %}
<div {% if not in_bulk_mode %} id="duplicates-warning" {% endif %} class="alert alert-warning">
  {{ message_with_kwargs( 'duplicates-warning', num_lexemes=duplicates | length ) }}
  <ul>
    {% for duplicate in duplicates %}
    <li>
      <a href="{{ duplicate.uri }}">{{ duplicate.label }} ({{ duplicate.id }})</a>,
      {{ duplicate.description | augment_description(duplicate.forms_count, duplicate.senses_count) }}
      {% if template_name %}
      (<a href="{{ url_for( 'process_template_edit', template_name=template_name, lexeme_id=duplicate.id, form_representation=form_representations, target_hash=target_hash ) }}">{{ message( 'edit-link' ) }}</a>)
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% if in_bulk_mode %}
  <a href="{{ url_for( 'process_template', template_name=template_name, form_representation=form_representations, target_hash=target_hash ) }}">
    {{ message( 'duplicates-create' ) }}
  </a>
  {% else %}
  {{ message_with_kwargs( 'duplicates-instructions', num_lexemes=duplicates | length ) }}
  {% endif %}
</div>
{% endif %}
