{% extends "base.html" %}
{% macro lexeme_form_link(wiki, lexeme_id, form) -%}
  <a href="https://{{ wiki }}.wikidata.org/wiki/Lexeme:{{ lexeme_id }}#{{ form.id | replace(lexeme_id + '-', '') }}">
    {% for representation in form.representations.values() -%}
    {{ representation | term_span }}
    {%- if not loop.last %}/{% endif -%}
    {%- endfor %}
    ({{ form.id }})</a>
{%- endmacro %}
{% macro lexeme_form_list_item(wiki, lexeme_id, form) %}
  <li>
    {{ message_with_kwargs( 'edit_form_list_item',
                            form_link=lexeme_form_link(wiki, lexeme_id, form),
                            grammatical_feature_labels=form.grammaticalFeatures_labels | map('term_span') if form.grammaticalFeatures_labels else [message( 'no_grammatical_features' )],
                            statements=form.get('claims', {}) | length ) | safe }}
  </li>
{% endmacro %}
{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='edit.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='template.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='edit.css') }}">
{% endblock %}
{% block main_tag_attributes %}{{ super() }} lang="{{ template.language_code }}" dir="{{ template.language_code | text_direction }}"{% endblock main_tag_attributes %}
{% block main %}
  <h1>{{ template.label }}</h1>
  <h2>
    <a href="https://{{ 'test' if template.test else 'www' }}.wikidata.org/wiki/Lexeme:{{ template.lexeme_id }}">
      {% for lemma in lemmas.values() -%}
      {{ lemma | term_span }}
      {%- if not loop.last %}/{% endif -%}
      {%- endfor %}
      ({{ template.lexeme_id }})
    </a>
  </h2>
  {% if not lexeme_matches_template %}
  <div class="alert alert-danger">
    {{ message( 'edit_mismatch_warning' ) }}
  </div>
  {% endif %}
  <div class="alert alert-warning">
    {{ message( 'edit_general' ) }}
  </div>
  {% if csrf_error %}
  <div class="alert alert-warning">
    {{ message( 'csrf_warning' ) }}
  </div>
  {% endif %}
  {% if template.ambiguous_lexeme_forms %}
  <div class="alert alert-warning">
    {{ message_with_kwargs( 'edit_ambiguous_warning', forms=template.ambiguous_lexeme_forms | length ) }}
    <ul>
      {% for lexeme_form in template.ambiguous_lexeme_forms %}
      {{ lexeme_form_list_item('test' if template.test else 'www', template.lexeme_id, lexeme_form) }}
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% if template.unmatched_lexeme_forms %}
  <div class="alert alert-warning">
    {{ message_with_kwargs( 'edit_unmatched_warning', forms=template.unmatched_lexeme_forms | length ) }}
    <ul>
      {% for lexeme_form in template.unmatched_lexeme_forms %}
      {{ lexeme_form_list_item('test' if template.test else 'www', template.lexeme_id, lexeme_form) }}
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <form method="post" autocapitalize="off">
    <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
    <input name="_lexeme_revision" type="hidden" value="{{ template.lexeme_revision }}">
    <dl>
      {% for form in template.forms %}
      <div class="form">
        <dt>{{ form.label }}</dt>
        <dd>{{ form | form2input(loop.first) }}</dd>
      </div>
      {% endfor %}
    </dl>
    <button class="btn btn-primary">{{ message( 'edit' ) }}</button>
  </form>
{% endblock main %}
