{% extends "base.html" %}
{% block main %}
<h1>Wikidata Lexeme Forms</h1>
<ul>
  {% for template_name, template in templates.items() %}
  {% set group = template_group(template) %}
  {% if not(loop.previtem and template_group(loop.previtem[1]) == group) %}
  <li id="{{ template.language_code }}{% if template.test %}-test{% endif %}">
    {{ group }}
    <ul>
      {% endif %}
      <li>
        <span lang="{{ g.interface_language_code | lang_int2html }}" dir="{{ g.interface_language_code | text_direction }}">
          <a href="{{ url_for('process_template', template_name=template_name) }}">{{ template.label }}</a>
          {% if can_use_bulk_mode %}
          (<a href="{{ url_for('process_template_bulk', template_name=template_name) }}">{{ message('bulk_link', template.language_code) }}</a>)
          {% endif %}
        </span>
      </li>
      {% if not(loop.nextitem and template_group(loop.nextitem[1]) == group) %}
    </ul>
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% endblock main %}
