{% extends "base.html" %}
{% block main %}
<h1>Wikidata Lexeme Forms</h1>
<ul>
  {% for template_name, template in templates.items() %}
  {% set group = template_group(template) %}
  {% if not(loop.previtem and template_group(loop.previtem[1]) == group) %}
  <li>
    {{ group }}
    <ul>
      {% endif %}
      <li lang="{{ template.language_code }}">
        <a href="{{ url_for('process_template', template_name=template_name) }}">{{ template.label }}</a>
        {% if can_use_bulk_mode %}
        (<a href="{{ url_for('process_template_bulk', template_name=template_name) }}">{{ message('bulk_link', template.language_code) }}</a>)
        {% endif %}
      </li>
      {% if not(loop.nextitem and template_group(loop.nextitem[1]) == group) %}
    </ul>
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% endblock main %}
