{% extends "base.html" %}
{% block main %}
<h1>{{ message( 'settings-heading' ) }}</h1>
<form method="post">
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
  <div class="mb-3">
    <label for="interface-language-code">
      {{ message( 'settings-label-interface-language-code' ) }}
    </label>
    <select id="interface-language-code" name="interface-language-code" class="form-control">
      {% for language_code, autonym in languages | dictsort( by='value' ) %}
      <option
        {% if language_code == g.interface_language_code %} selected {% endif %}
        value="{{ language_code }}"
        lang="{{ language_code | lang_mw_to_bcp47 }}"
        {# no dir=, all the options should be aligned on the same side #}
        >
        {{ autonym }}
      </option>
      {% endfor %}
    </select>
  </div>
  <div class="form-check mb-3">
    <input class="form-check-input" type="checkbox" name="use-wikifunctions" id="use-wikifunctions" {% if use_wikifunctions %}checked{% endif %}>
    <label class="form-check-label" for="use-wikifunctions">{{ message( 'settings-label-use-wikifunctions' ) }}</label>
  </div>
  <button type="submit" class="btn btn-primary">{{ message( 'settings-save' ) }}</button>
</form>
{% endblock %}
