{% extends "base.html" %}
{% block head %}
{{ super() }}
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/lodash.js/4.17.10/lodash.min.js"></script>
<script src="{{ url_for('static', filename='findDuplicates.js') }}"></script>
<script src="{{ url_for('static', filename='alertPartialForms.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='template.css') }}">
{% endblock %}
{% block main_tag_attributes %}{{ super() }} lang="{{ template.language_code }}" dir="{{ template.language_code | text_direction }}" data-template='{{ template | tojson }}'{% endblock main_tag_attributes %}
{% block main %}
  <h1>{{ template.label }}</h1>
  {% if advanced %}
  <div class="alert alert-primary">
    {{ message( 'advanced_general' ) }}
    <ul>
      <li>{{ message( 'advanced_lexeme_id' ) }}</li>
      <li>{{ message( 'advanced_partial_forms' ) }}</li>
    </ul>
  </div>
  {% endif %}
  {% if csrf_error %}
  <div class="alert alert-warning">
    {{ message( 'csrf_warning' ) }}
  </div>
  {% endif %}
  <form method="post" autocapitalize="off">
    {{ duplicates | render_duplicates(template.language_code, actionable=True, template_name=template['@template_name']) | safe }}
    <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
    {% if advanced %}
    <label>
      {{ message( 'lexeme_id' ) }}
      <input name="lexeme_id" pattern="^L[1-9][0-9]*$" placeholder="L123" {% if template.lexeme_id %}value="{{ template.lexeme_id }}"{% endif %}>
    </label>
    {% endif %}
    <dl{% if template.has_sections %} class="with-sections"{% endif %}>
      <div class="section">
        {% for form in template.forms %}
        {% if form.section_break %}
        <div class="section-spacer"></div>
      </div>
      <hr>
      <div class="section">
        {% endif %}
        <div class="form">
          <dt>{{ form.label }}</dt>
          <dd>{{ form | form2input(loop.first) }}</dd>
        </div>
        {% endfor %}
        <div class="section-spacer"></div>
      </div>
    </dl>
    {% if template.generated_via %}
    <div class="form-group">
      <label class="text-muted">
        {{ message( 'generated_via' ) }}
        <input name="generated_via" value="{{ template.generated_via }}" readonly>
      </label>
    </div>
    {% endif %}
    {% if duplicates %}
    {{ render_no_duplicate(template.language_code) | safe }}
    {% endif %}
    <button id="submit" class="btn btn-{% if not advanced %}primary{% else %}danger{% endif %}">{{ message( 'create' ) }}</button>
    {% if not advanced %}
    <button formnovalidate formaction="{{ url_for('process_template_advanced', template_name=template['@template_name']) }}" class="btn btn-secondary">{{ message( 'advanced' ) }}</button>
    {% endif %}
    {% if can_use_bulk_mode %}
    <button formnovalidate formaction="{{ url_for('process_template_bulk', template_name=template['@template_name']) }}" class="btn btn-secondary">{{ message('bulk_button') }}</button>
    {% endif %}
  </form>
{% endblock main %}
