{% extends "base.html" %}
{% block main_tag_attributes %}{{ super() }} lang="{{ template.language_code }}"{% endblock main_tag_attributes %}
{% block main %}
  <h1>{{ template.label }}</h1>
  {% if advanced %}
  <div class="alert alert-primary">
    {{ translations.advanced_general }}
    <ul>
      <li>{{ translations.advanced_partial_forms }}</li>
    </ul>
  </div>
  {% endif %}
  {% if duplicates %}
  <div class="alert alert-warning">
    {{ translations.duplicates_warning }}
    <ul>
    {% for duplicate in duplicates %}
    <li><a href="{{ duplicate.uri }}">{{ duplicate.label }} ({{ duplicate.id }})</a>, {{ duplicate.description }}</li>
    {% endfor %}
    </ul>
    {{ translations.duplicates_instructions }}
  </div>
  {% endif %}
  <form method="post">
    <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
    <dl>
      {% for form in template.forms %}
      <dt>{{ form.label }}</dt>
      <dd>{{ form | form2input }}</dd>
      {% endfor %}
    </dl>
    {% if duplicates %}
    <label style="display: block">
      <input type="checkbox" name="no_duplicate">
      {{ translations.no_duplicate }}
    </label>
    {% endif %}
    <button class="btn btn-{% if not advanced %}primary{% else %}danger{% endif %}">{{ translations.create }}</button>
    {% if not advanced %}
    <a href="{{ url_for('process_template_advanced', template_name=template_name) }}" class="btn btn-secondary">{{ translations.advanced }}</a>
    {% endif %}
  </form>
{% endblock main %}
